.pokemonPage__links {
  display: flex;
  width: fit-content;
  align-items: center;
  text-decoration: none;
  letter-spacing: -.05;
  color: #94A3B8;
  margin-bottom: 10px;
}

.pokemonPage__headTxt {
  display: flex;
}

.pokemonPage__links:hover {
  color: #202123;
}

.pokemonPage__icn {
  position: relative;
  bottom: 2px;
  margin-right: 10px;
}
